.m-navbar {

    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 15px 20px;

    .navbar-logo {
        width: 50px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            margin: 10px;

            a,
            button {
                display: block;
                color: rgb(var(--white-color));
                background-color: transparent;
                border: transparent;
                outline: none;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;

                transition: all .1s ease;

                &:hover {
                    transform: scale(.95);
                    color: rgb(var(--mid-color));
                }
            }


        }
    }
}