@font-face {
  font-family: Louis;
  src: url(../public/Fonts/Louis/Louis\ George\ Cafe\ Light.ttf);
}

body {
  margin: 0;
  font-family: Louis !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color) !important;
  scroll-behavior: smooth;
}


* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*#ffe662*/

:root {
  --bg-color: 161, 170, 173;
  --dark-color: 21, 38, 45;
  --black-color: 0, 0, 0;
  --mid-color: 255, 230, 98;
  --heavy-color: 44, 40, 39;
  --white-color: 255, 255, 255;
}